:root{
    --lg-text:2rem;
    --lg-icons:1em;
    --main-color:rgb(229, 229, 0);
    --image-background:rgba(229, 229, 0, 0.498);
    --main-background:rgb(49, 49, 49);
}

body{
  overflow-x: hidden;
}

html{
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

.span{
  text-decoration:'underline';
  text-decoration-color:"rgb(199, 222, 20)";
}





.container1{
    height: 85%;
    width: 90%;
    margin: auto;
    border-radius: .42em;
    background-color: rgb(123, 123, 123);
    overflow: scroll;
    overflow-x: hidden;
}


/* Nav Bar */

.container2{
  height: 95%;
  width: 95%;
  margin: auto;
  border-radius: .42em;
  background-color: rgb(123, 123, 123);
  overflow: scroll;
  overflow-x: hidden;
}

.nav-mobile{
    width: max-content;
    background-color:  rgba(88, 88, 18, 0.317);
    backdrop-filter: blur(10px);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 40%;
    right: 5%;
    padding: .2em;
    color: #000000;
    font-size: clamp(1.5em,1vw,2em);
    border-radius: .2em; 
    animation: nav 1s  ease-in 1s 1 normal both; 
}

@keyframes nav {
  0%{
    right: -10%;
    background-color:  rgba(88, 88, 18, 0.808);
  }
  25%{
    right: -7%;
    background-color:  rgba(88, 88, 18, 0.616);
  }
  50%{
    right: -1%;
    background-color:  rgba(88, 88, 18, 0.466);
  }
  75%{
    right: 3%;
    background-color:  rgba(88, 88, 18, 0.395);
  }
  100%{
    right: 5%;
    background-color:  rgba(88, 88, 18, 0.272);
  }
}


.yes1{
  width: max-content;
  background-color:  var(--image-background);
  backdrop-filter: blur(10px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 40%;
  right: 1%;
  padding: .2em;
  color: #000000;
  font-size: clamp(1.5em,1vw,2em);
  border-radius: .2em; 
  animation: nav11 1.5s ease-in-out 2.5s 1  backwards; 
  }

  @keyframes nav11 {
    0%{
      right: -10%;
      background-color:  rgba(88, 88, 18, 0.808);
    }
    /* 25%{
      right: -7%;
      background-color:  rgba(88, 88, 18, 0.616);
    }
    50%{
      right: -1%;
      background-color:  rgba(88, 88, 18, 0.466);
    }
    75%{
      right: 0%;
      background-color:  rgba(88, 88, 18, 0.395);
    } */
    100%{
      right: 1%;
      background-color:  rgba(88, 88, 18, 0.548);
    }
  }
  .nav-icon{
   margin: 3em;
   color: #000000;
  }

  /* Home */

  .home{
    width: 100%;
    height:100%;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: row;
  }

.name{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    /* font-size: clamp(1em,1vw,10em); */
    width: 60%;
    margin-top: 10%;
    height: 100%;
    padding: 0 0rem 0 1rem;
    animation: name 1s ease-in .5s 1 linear forwards;
}
@keyframes name {
  0%{
    width: 30%;
  }
  50%{
    width: 45%;
  }
  100%{
    width: 60%;
  }
}

.name h1{
    font-size: clamp(3rem,5vw,6rem);
}

.name h5{
  font-size: clamp(1rem,2vw,3rem); ;
  background-color: rgb(205, 205, 10);
  padding: .2rem;
  color: #000000;
  animation: blink 1s cubic-bezier(0.075, 0.82, 0.165, 1) 2s 1 normal;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes blink {
  0%{
    background-color: rgba(205, 205, 10, 0.148);
  }
  20%{
    background-color: rgba(205, 205, 10, 0.744);
  }
  40%{
    background-color: rgba(205, 205, 10, 0.151);
  }
  60%{
    background-color: rgba(205, 205, 10, 0.797);
  }
  80%{
    background-color: rgba(205, 205, 10, 0.208);
  }
  100%{
    background-color: rgb(205, 205, 10);
  }
}


.name p{
  font-size: clamp(1rem,1vw,1.8rem);
}

.cv{
  border: none;
  display: flex;
}
.cv button{
  border: none;
  background-color: transparent;
 color: #fff;
 border-bottom: 1px solid yellow;
 margin: 1em 0 0 0;
 cursor: pointer;
 padding: 1rem;
 transition: cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cv button:hover{
  background-color: var(--image-background);
}
.sidebar {
  width:1.5%;
  height: 100%;
  writing-mode: vertical-lr ;
  background-color: rgb(146, 146, 146);
  display: flex;
  animation: sidebar 2s ease-out 0s 1 normal;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  color: rgb(192, 199, 206);
}

@keyframes sidebar {
  0%{
    width: 20%;
    font-size: 400%;
    color: rgb(35, 35, 35);
  }
  /* 20%{
    width: 16%;
    font-size: 320%;
    color: rgb(52, 52, 52);
  }
  40%{
    width: 12%;
    font-size: 240%;
    color: rgb(52, 52, 52);
  }
  60%{
    width: 8%;
    font-size: 160%;
    color: rgb(52, 52, 52);
  }
  80%{
    width:4%;
    font-size: 140%;
    color: rgb(86, 86, 86);
  } */
  100%{
    width:1.5%;
    font-size: 100%;
    color: rgb(86, 86, 86);
  }
}

.sidebar h3{
  margin-top: auto;
  margin-left: 0%;
  font-size: 100%;
  margin-bottom: 1%;
}

/* Social media icons */

  .social-media{
    width: 5%;
    /* font-size: clamp(100%,1vw,10em); */
    height: 100%;
    color: #e4e4e4;
    display: flex;
    flex-direction: column;
    background-color: #000000;
  }

  .icons{
    display: flex;
    margin-top: auto;
    margin-bottom: 1em;
    font-size: clamp(1.5em,1vw,3em);
    flex-direction: column;
    color: grey;
    align-items: center;
    row-gap: 1em;
  }

  .icons a{
    color: grey;
    transition: .2s;
  }

  .icons a:hover{
    color: var(--main-color);
  }

  .image{
    width: 40%;
    height:100%;
    background-color: rgb(89, 89, 89);
    background-image: url("../images/image.png");
    background-position: center center;
    background-size: cover;

  }

  /* Scrollbar design */
::-webkit-scrollbar {
    width: .2em;
  }
  
::-webkit-scrollbar-track {
    background-color: rgb(49, 49, 49);
    border-radius: 100px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: #787878;
    border-radius: 100px;
  }





  /* About Me */

  .about{
    width: 100%;
    height: 100%;
    background-color: #363636;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    flex-direction: row;  
  }

  /* .txtHead{
    display: flex;
    height: 10%;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--image-background);
  } */
  .txtHead1{
    display: flex;
    height: 100%;
    width: 3.2%;
    color: rgb(8, 8, 8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    writing-mode: vertical-rl;
    background-color: var(--image-background);
  }

  .txtHead{
    display: flex;
    height: 100%;
    width: 3.2%;
    color: rgb(8, 8, 8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    writing-mode: vertical-rl;
    background-color: var(--image-background);
  }

  .txtHead1 h2{
    font-size: clamp(3em,2vw,5em);
  }

  .txtHead1 p{
    font-size: 1em;
  }

  .txtHead h2{
    font-size: clamp(3em,2vw,5em);
  }

  .txtHead p{
    font-size: 1em;
  }
 
  .skill{
    height: 90%;
    width: 100%;
    margin: 0%;
    padding: none;
  }
  .skillRow{
    padding: 3rem;
  }
  .skillRow Col{
    height: 2rem;
    width: 3em;
  }

.card1{
  display: flex;
  align-items: center;
  background-color: rgb(64, 64, 64);
  flex-direction: column;
  padding: 1em;
  height:max-content;
  min-height: 30em;
  text-align: center;
  line-height: 2;
  margin: clamp(.2em,1.5vw,1em);
  border-radius: clamp(.2em,1.5vw,1em);
  box-shadow: 3px 3px 5px #242424,
  -3px -2px 5px #2c2c2caa,
  -3px -2px 5px #272727aa;
} 
.expicon{
  font-size: clamp(2rem,3vw,8rem);
  color:rgb(229, 229, 0);
}

.card1 h2{
  color: #fff;
  font-size: clamp(1.6em,1.5vw,4em);
}

.card1 p{
  line-height: 1.5;
  text-align:justify;
  color: aliceblue;
  /* font-size: clamp(.8em,1.3vw,1.4em); */
}
.Coll{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}





/* Skillsss */

.real-skill{
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: row;
  font-family: 'Ubuntu', sans-serif;
  background-color: #303030;
}

.real-contain{
  height: max-content;
  width: 100%;
  margin: 0%;
  padding: none;
}
.real-row{

  color: white;
}
.skilltest{
  margin: 3em;
  height: 3em;
}

.skilltest label{
  font-size:clamp(.9em,1vw,2em);
}

.progress-ba{
 width: 100%;
 height: 13%;
 border-radius: 3rem;
 background-color: #414141;
 box-shadow: 3px 3px 5px #242424,
  -3px -2px 5px #2c2c2caa,
  -3px -2px 5px #272727aa;
} 

.progress-per{
  height: 100%;
  width: 0%;
  border-radius: 3rem;
  background-color: var(--main-color);
}

/* .test{
  animation: fill 4s ease-in .2s 1 linear;
  width: 50%;
}

@keyframes fill {
  from{width: 0%;} 
  to{width: 50%;} 
} */


/* label group including the percentage and the name */
.label{
  display: flex;
  justify-content: space-between;
}


/* @keyframes progress {
  0%{
    width: 0%;
  }
  100%{
    width:100%;
  }
} */


.exinfo{
  height: 40%;
  color: aliceblue;
  padding: 0 2em 0 2em;
  text-align: center;
}

.exinfo p{
  padding-top: 2em;
  font-size: 1.2em;
}

/* Contact Page */

.contactMe{
  width: 100%;
  height: 100%;
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  background-color: #414141;
  flex-direction: row;
}

.contact{
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  line-height: 2;
}

.contact p{
  font-size: clamp(2em,1.5vw,3em);
  color: rgb(187, 185, 180);
}

.subcontact{
  width: 100%;
  height: 100%;
  margin-top: 2vw;
}

.form{
  width: 100%;
  height: 100%;
  display: flex
}

.emailForm{
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 60%;
  line-height: 2;
  font-size: clamp(1em,1vw,1.7em);
}

.emailForm input{
  border: none;
  border-bottom: 1px solid var(--main-color);
  margin: 1em;
  background-color: transparent;
  width: 100%;
  font-size: clamp(1em,1vw,1.7em);
  caret-color: var(--main-color);
}

.sub{
  width: fit-content;
  display: flex;
  margin: auto;
  background-color: var(--image-background);
  height: fit-content;
  border-radius: 1em;
}

.sub input{
  border: none;
}




.emailForm input::placeholder{
  color: #8d8d8d;
  font-size: clamp(1em,2vw,1.4em);
}

.emailForm input:focus{
  outline: none;
}

.leftContact{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.leftContact h2{
    color: #aaaaaa;
    margin: 1em;
    font-size: clamp(1em,1.5vw,5em);
}

/* links */

.links{
  width: 100%;
  height: 100%;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.links h2{
  color: #aaaaaa;
  margin: 1em;
}

.links button{
  width: 40%;
  display: flex;
  /* align-content: center;
  justify-content: space-around; */
  background-color: rgb(88, 88, 88);
  height: 20%;
  border: none;
  margin: 1em;
  padding: .2em;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  font-size: clamp(1.5em,2vh,3em);
  box-shadow: 3px 3px 5px #272727,
              -3px -2px 5px #272727,
              -3px -2px 5px #272727;
}

.links button h5{
  color: #8f8f8f;
  margin: .5em;
}



/* Certificates area  disables for while*/
.certifications{
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--main-background);
}

.caret{
  height: 70%;
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image-container{
  width: 70%;
  height: 70%;
  display: flex;
  justify-content: center;
  object-fit:cover;
  background-color: var(--image-background);
}

.caret button{
  font-size: clamp(2em,2vw,3em);
  background-color: transparent;
  color: var(--main-color);
  border: none;
}


.caret img{
  max-width: 100%;
  max-height: 100%;
}

.certArray{
 color:#e4e4e4; 
 display: flex;
 justify-content: center;
}


/* Certificate abled for temp*/
.colcontain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  line-height: 2;
  padding: 3em;
}

.chatinfo a{
  text-decoration: underline;
  color: white;
}

.colcontain h2{
  font-size: clamp(2em,2vw,6em);
}

.colcontain button{
  margin: 1em;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: clamp(1em,2vw,4em);
}

.colbutton{
  display: flex;
  flex-direction: column;
}

.colbutton button{
  width: 100%;
  width: 100%;
  background-color: var(--image-background);
  border-radius: .3em;
  margin: 0;
  margin-top: 1em;
  padding: .4em;
}
.colbutton button:nth-last-child(1):hover{
  background-color: var(--main-color);
  color: black;
}


@media (max-width:760px) {
  .txtHead,.txtHead1{
    display: flex;
    height: 10%;
    width: 100%;
    color: rgb(179, 175, 175);
    align-items: center;
    writing-mode:horizontal-tb;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
  }

  .exinfo p{
    padding-top: 1em;
    font-size: 1em;
  }
  .txtHead h2{
    font-size: clamp(3em,2vw,7em);
  }

  .txtHead p{
    font-size: 1.2em;
  }
  .card1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(64, 64, 64);
    flex-direction: column;
    padding: .5em;
    height: max-content;
    width: 15em;
    margin: clamp(.2em,1.5vw,1em);
    border-radius: clamp(.2em,1.5vw,1em);
  } 

  .card1 p{
    line-height: 1.5;
    color: aliceblue;
    font-size: 1em;
    font-size: clamp(.8em,1.3vw,1.4em);
  }
  .about{
    width: 100%;
    height: max-content;
    background-color: #1b1b1bb7;
    display: flex;
    flex-direction: column;  
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: scroll;
  }
  .coll{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* skills */
  .real-skill{
    height: max-content;
    width:100%;
    /* overflow: scroll; */
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    padding: 1em;
    background-color: #303030;
  }
  .real-skill{
    /* height: 100%; */
    width:100%;
    padding: 1em;
    height: max-content;
    font-family: 'Ubuntu', sans-serif;
    background-color: #303030;
  }
  /* form */
  .emailForm{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 60%;
    font-size: clamp(1.7em,1vw,1.7em);
    line-height: 2;
    padding-bottom: 8vh;
  }
  
  .emailForm input{
    border: none;
    border-bottom: 1px solid var(--main-color);
    margin: 1em;
    background-color: transparent;
    width: 40%;
    caret-color: var(--main-color);
  }



  /* github and projects */
  .certifications{
    width: 100%;
    height: max-content;
    display: flex;
    /* height: 70%; */
    font-family: 'Ubuntu', sans-serif;
    flex-direction: column;
    background-color: var(--main-background);
  }
  .colcontain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 2;
    padding: 3em;
  }
  
  .projects{
    text-align: center;
  }

  .projects h2{
    padding: 1em;
  }

  .project h3{
    text-align: left;
  }
  .project a{
    color: var(--main-color);
  }

  .colcontain h2{
    font-size: clamp(2em,2vw,6em);
  }
  
  .colcontain button{
    margin: 1em;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: clamp(1em,2vw,4em);
  }
  .colbutton{
    display: flex;
    flex-direction: column;
  }
  
  .colbutton button{
    width: 100%;
    width: 100%;
    background-color: var(--image-background);
    border-radius: .3em;
  }
  .colbutton button:nth-last-child(1):hover{
    background-color: var(--main-color);
    color: black;
  }

  /* contact page */
    /* links */
    .links{
      width: 100%;
      height: max-content;  
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .contactMe{
      width: 100%;
      font-family: 'Ubuntu', sans-serif;
      height:max-content;
      display: flex;
      padding: 3em  ;
      background-color: #414141;
      flex-direction: column;
    }
  .contact{
    width: 100%;
    height: 100%;
    align-items: center;
  }
  .leftContact{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .leftContact h2{
    color: #aaaaaa;
    margin: 1em;
    font-size: clamp(1.4em,2vw,2em);
  }
  .emailForm{
    margin: auto; 
    display: flex;
    flex-direction: column;
    width: 80%;
    line-height: 2;
    font-size: clamp(1em,1vw,1.7em);
  }
  
  .emailForm input{
    border: none;
    border-bottom: 1px solid var(--main-color);
    margin: 1em;
    background-color: transparent;
    width: 80%;
    font-size: clamp(1em,1vw,1.7em);
    caret-color: var(--main-color);
  }
  .sub{
    width: fit-content;
    display: flex;
    margin: auto;
    background-color: var(--image-background);
    height: fit-content;
    border-radius: 1em;
  }
  .sub input{
    border: none;
  }

  .contact p{
    font-size: clamp(1.4em,1.5vw,3em);
    color: rgb(187, 185, 180);
  }

  #DSA{
    width: 48%;
    background-color: var(--image-background);
  }
  #MongoDb{
    width: 72%;
    background-color: var(--image-background);
  }
  #DS{
    width: 48%;
    background-color: var(--image-background);
  }
  #Boot{
    width: 60%;
    background-color: var(--image-background);
  }
  #Node{
    width: 72%;
    background-color: var(--image-background);
  }
  #React{
    width: 60%;
    background-color: var(--image-background);
  }
  #JavaScript{
    width: 72%;
    background-color: var(--image-background);
  }
  #CSS{
    width: 60%;
    background-color: var(--image-background);
  }
  #html{
    width: 72%;
    background-color: var(--image-background);
  }
}


/* CCCCOooooooppppyyyyyyy RIgHT */

.copyRight{
  width: 100%;
  height:7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyRight h3{
  font-size: 1.2em;
}


.projects{
  height: auto;
}


.projects h2{
  padding: 0 0 1em 0;
}

.projects h3{
  margin-top:2em;
}

.project{
  margin-top:2em;
}


.project h3{
  font-size: 1.5em;
}